doctype html

html
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')

        link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js')
        style.
            body {

            }
            #logo {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 200px
            }
            .loading-container {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top:30px
            }
            .loading-wrapper {
                display: flex;
                flex-direction: column;
                width: 200px;
                align-items: center;
            }
            .loading-text {
                margin-top:30px;
                text-align: center;
                font-family: "Amazon Ember",Arial,sans-serif;;
                color: #0F1111;
                line-height: 24px;
            }
            .sbl-circ-path {
                height: 60px;
                width: 60px;
                color: rgba(90, 90, 90, 0.2);
                position: relative;
                display: inline-block;
                border: 3px solid;
                border-radius: 50%;
                border-right-color: #0098FF;
                animation: rotate 1s linear infinite;
            }

            @keyframes rotate {
                0% {
                    transform: rotate(0);
                }
                100% {
                    transform: rotate(360deg);
                }
            }

            .loader {
                width: 100%;
                height: 4.8px;
                display: inline-block;
                position: relative;
                background: rgba(26, 153, 255, 1);
                overflow: hidden;
            }

            .loader::after {
                content: '';
                width: 192px;
                height: 4.8px;
                background: #E7E9E9;
                position: absolute;
                top: 0;
                left: 0;
                box-sizing: border-box;
                animation: animloader 2s linear infinite;
            }

            @keyframes animloader {
                0% {
                    left: 0;
                    transform: translateX(-100%);
                }
                100% {
                    left: 100%;
                    transform: translateX(0%);
                }
            }
            #log {

            }
            .logs {
                display: block;
                overflow-wrap: break-word;
                padding: 1em;
                border-width: 1px;
                border-style: solid;
                border-color: #400 #700 #700 #400;
                border-radius: 3px;
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-weight: 200;
                src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-weight: 200;
                font-style: italic;
                src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-style: italic;
                src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-weight: 500;
                src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-weight: 500;
                font-style: italic;
                src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-weight: 700;
                src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff")
            }

            @font-face {
                font-family: 'Amazon Ember';
                font-style: italic;
                font-weight: 700;
                src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format("woff2"), url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format("woff")
            }

            .a-ember body {
                font-family: "Amazon Ember", Arial, sans-serif
            }

            .a-ember .a-text-quote {
                font-family: "Amazon Ember", Arial, sans-serif
            }

            /*

    body
        #logo(style="text-align:center;")
            img(src="/images/bwp.png" width=119)

        #spinner.loading-container

            .loading-wrapper
                span.loader
                .loading-text
                    span(style='font-size: 22px;font-weight:600') Hi, Jane
                .loading-text(style="margin-top: 10px")
                    span(style="color:#232F3E;font-size: 15px") Securely signing you in to your Amazon account
        #log
            pre
                code.logs.log()




    script(src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous")
    script.
        var MAPParams = !{JSON.stringify(query)}
    script(src="/javascripts/map.js")
    script(src="/javascripts/consent_app.js")
    script.
        $(function () {
            getCurrentAppInfo()
            startAuth()
        })
